
#root {
  display: flex;
  justify-content:  center;
  margin: 0 auto;
}
.button {
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 10px 10px #c7c7c7;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  font-size: 30px;
}

/*.loader::before {*/
/*  content: '';*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  z-index: -1;*/
/*  background: linear-gradient(#5a5a5a 10%, #ffffff 20%, #4e4e4e 40%, #ffffff 60%, #ff5c6f 80%, aqua 100% );*/
/*}*/


.spinner {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #404040;
  width: 15px;
  height: 15px;
}

.blob.top {
   top: 0;
   animation: blob-top 1s infinite ease-in;
 }
.blob.bottom {
   top: 100%;
   animation: blob-bottom 1s infinite ease-in;
 }
.blob.left {
   left: 0;
   animation: blob-left 1s infinite ease-in;
 }

.move-blob {
  top: 0;
  animation: blob-spinner-mover 1s infinite ease-in;
}

@keyframes blob-bottom {
  25%, 50%, 75% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes blob-left {
  25% {
    top: 50%;
    left: 0;
  }
  50%, 100% {
    top: 100%;
    left: 50%;
  }
}
@keyframes blob-top {
  50% {
    top: 0;
    left: 50%;
  }
  75%, 100% {
    top: 50%;
    left: 0;
  }
}

@keyframes blob-spinner-mover {
  0%, 100% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 50%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 50%;
  }
  75% {
    top: 50%;
    left: 0;
  }
}


.employees__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75vw;
}
.letter__employees {
  width: 15%;
  padding: 5px;
  border: 1px solid #c7c7c7;
  text-align: left;

}
.alpha-title {
  margin: 0;
  text-align: center;
}

.dob__wrap {
  width: 25vw;
  padding: 0 10px;
}
.letter-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-select {
  justify-self: flex-end;
}
ul {
  padding-left: 10px;
  margin: 0;
}
li {
  list-style-type: none;
  line-height: 1.5;
}
h2, h3 {
  text-align: center;
}
h2 {
  padding-bottom: 10px;
  box-shadow: 0 10px 10px #c7c7c7;
}