body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.employees__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #8af3ff;
}
.employees__part {
  width: 15rem;
  padding: 5px;
  border: 1px solid #3b94fb;
  text-align: left;

}

.birthday-wrap {

}
